*jupytex*
*notes*
*session
*sync.py
*vim
*pt
*nii*
*np
*npy
*~lock*
**/*.cache*
.idea/
.ipynb_checkpoints/
.neptune/
.*rope*
.pyc
__pycache__/
archived/
hidden/
pyrightconfig.json
tmp*
vim-debug-configuration.json
experiments/.neptune/config.json
*lightning_logs*
.Rproj.user
*.zip
*.egg-info/
build/
.mypy*
cufil*
