batchgenerators>=0.25
connected-components-3d>=3.17
fastcore>=1.7.29
h5py>=3.8
itk>=5.4
numpy>=1.23,<3
openpyxl>=3.1
opencv-python>=4.8
pandas>=1.5
paramiko>=3.0
Pillow>=10.0
psutil>=5.9
PyYAML>=6
reportlab>=4.0
scikit-image>=0.21
scipy>=1.10
send2trash>=1.8
SimpleITK>=2.3

lightning>=2.2
monai>=1.3
nnunet>=1.7
prefetch-generator>=1.0.3
torch>=2.2
torchaudio>=2.2
torchinfo>=1.8
torchio>=0.20
torchmetrics>=1.3
torchvision>=0.17
ray[tune]>=2.9

neptune>=1.10
plotly>=5.0
seaborn>=0.12

grad-cam>=1.5.3
gudhi>=3.10.1
nurbspy>=1.1.2
roboflow>=1.1.30
supervision>=0.25.1
ultralytics>=8.0

dicom_utils @ git+https://github.com/drusmanbashir/dicom_utils.git@main
label_analysis @ git+https://github.com/drusmanbashir/label_analysis.git@main
utilz @ git+https://github.com/drusmanbashir/utilz.git@main
